.container{
    width: 300px;
    height: 25px;
    background-color: darkgreen;
    text-align: center;
}

.container2{
    width: 300px;
    height: 25px;
    background-color: darkred;
    text-align: center;
}